<!-- sidebar -->
<div class="bg-nav bg-info">
  <div class="sidebar__items">
    <a routerLink="/app/reg" routerLinkActive="active" title="Регистрация">
      <img class="sidebar__item-active" src="./assets/img/logo/reg.png" alt="">
      <img class="sidebar__item" src="./assets/img/logo/reg2.png" alt="">
      <!-- <p>Регистрация</p> -->
    </a>
    <a routerLink="/app/settings" routerLinkActive="active" title="Настройка ">
      <img class="sidebar__item-active" src="./assets/img/logo/settings.png" alt="">
      <img class="sidebar__item" src="./assets/img/logo/settings2.png" alt="">
      <!-- <p>Настройка</p> -->
    </a>
    <a routerLink="/app/home" routerLinkActive="active" title="Главная">
      <img class="sidebar__item-active" src="./assets/img/logo/home.png" alt="">
      <img class="sidebar__item" src="./assets/img/logo/home2.png" alt="">
      <!-- <p>Главная</p> -->
    </a>
    <a routerLink="/app/payments" routerLinkActive="active" title="Расходы">
      <img class=" sidebar__item-active" src="./assets/img/logo/cash.png" alt="">
      <img class="sidebar__item" src="./assets/img/logo/cash2.png" alt="">
      <!-- <p>Расходы</p> -->
    </a>
    <a routerLink="/app/cash" routerLinkActive="active" title="Касса">
      <img class=" sidebar__item-active" src="./assets/img/logo/pay.png" alt="">
      <img class="sidebar__item" src="./assets/img/logo/pay2.png" alt="">
      <!-- <p>Касса</p> -->
    </a>
    <!-- <div class="indicator"></div> -->
  </div>
</div>
